<a href="/nation/new">Add a new nation</a><br>

<% @nations.each do |nation| %>
  <a href="/nation/<%= nation.id%>"><%= nation.name %></a><br><hr>
<% end %>

<a href="/athlete">Athlete Index</a>
<a href="/event">Event Index</a>
<a href="/nation">Nation Index</a>
<a href="/leaderboard">Leaderboard</a>

