<div class="info">
  <h1>Nations</h1>

  <% @nations.each do |nation| %>
  <a href="/nation/<%= nation.id%>"><%= nation.name %></a>
  <br>
  <br>
  <% end %>
  <br>
<!-- 
  <form action="/nation/search" method="get">

    <label for="nation">Search Nations:</label>
    <input type="text" name="nation"><br>

    </form> -->

</div>
