<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title>Bum Olympics</title>
</head>
<body>
  <%=yield%>
  <header>
    <ul>
      <li class="dropdown"> <a href="/athlete" class="dropbtn">Athletes</a> 
        <div class="dropdown-content">
          <a href="/athlete/new">Add Athlete</a>
        </div>  
      </li>
      <li class="dropdown"> <a href="/event" class="dropbtn">Events</a>
        <div class="dropdown-content">
         <a href="/event/new">Add Event</a>
       </div>  
     </li>
     <li class="dropdown"> <a href="/nation" class="dropbtn">Nations</a>  
      <div class="dropdown-content">
        <a href="/nation/new">Add Nation</a>
      </div>
    </li>
    
    <li> <a href="/leaderboard">Leaderboard</a>  </li>
  </ul>
</header>
</body>
<footer></footer>
</html>



