<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title>Bum Olympics</title>
</head>
<body>
  <%=yield%>
  <ul>
    <li class="dropdown"> <a href="/athlete" class="dropbtn">Athlete Index</a> 
    <div class="dropdown-content">
        <a href="/athlete/new">Add Athlete</a>
      </div>  

    </li>
    <li> <a href="/event">Event Index</a>  </li>
    <li> <a href="/nation">Nation Index</a>  </li>
    <li> <a href="/leaderboard">Leaderboard</a>  </li>
  </ul>
</body>
<footer></footer>
</html>



