<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title></title>
</head>
<body>
<%=yield%>
</body>
<footer></footer>
</html>