body {
  font-family: monospace;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

#scores {
  float: left;
  display: block;
}


#teams {
  float: left;
  display: inline-block;
}

.links {
  margin-top: 400px;

}