<h1>Athlete</h1>
  <%=@athlete.name%> 
  <br>
  <br>>
  <a href="/athlete/new">Add Another Athlete</a>
  <a href="/athlete">Athlete Index</a>
  <a href="/athlete/<%=@athlete.id%>/edit">Edit Athlete</a>