<div class="info">
  <h1>Welcome To Bum Wars 2116</h1>

  <p>Ever since our glorious robot leaders established stability for the region we have been blessed with the proud and noble sport of Bum Wars</p>

  <p>For almost 60 years every nation on Earth has sent forth their bravest, strongest and drunkest champions. They compete in the arenas and out in the field to bring home the glory and of  course to rank the nations.</p>

  <p>To the victors will come the spoils of war and of course the right for their nation to keep their natural resources for 4 years. To the losers however only a quick death will grant them pleasure for the knowledge of their nation's suffering would surely drive them mad.</p>

  <h3>Let the games begin!</h3>
</div>