<a href="/event/new">Add a new event</a><br>

<% @events.each do |event| %>
  <a href="/event/<%= event.id%>"><%= event.name %>
  </a><br>
  <a href="/event/<%=event.id%>/edit">Edit Event</a>
  <br>
  <hr>
<% end %>
<
<a href="/athlete">Athlete Index</a>
<a href="/event">Event Index</a>
<a href="/nation">Nation Index</a>
<a href="/leaderboard">Leaderboard</a>

