<h2>Add Event</h2>

<form action="/event" method="post">

  <label for="name">Please enter event:</label>
  <input type="text" name="name"><br>

  <br>
  <br>

  <input type='submit' value="Add Event!">
</form>
