<div class="info">
  <div class="left">
    <h1>Event</h1>
    <%=@event.name%>
  </div>
  <%=@result%>

  <div class="scores">
    <div id="teams">
      <% @results.each do |team| %>
      <%= team.name %> <br>
      <% end %>
    </div>

    </div>

</div>