<div class="info">
  <div class="left">
    <h1>Event</h1>
    <%=@event.name%>
  </div>
  <%=@result%>

  <div class="right">
    <h1>Rankings</h1>
    <div id="teams">
      <ol>
        <% @results.each do |athlete| %>
        <li><%=athlete.name %></li> <br>
        <% end %>
      </ol>
    </div>

  </div>

</div>