<h1>Leaderboard</h1>



<div id="teams">
  <% @teams.each do |team| %>
  <%= team %> <br>
  <% end %>
</div>


<div id="scores">
  <% @scores.each do |score| %>
  <%= score  %> <br>
  <% end %>
</div>
